*~
*.o
*.mod
*.lst
*.so
*_cuda.cu*
*.log
hmpp*.cu
*.hmf
*.hmd
*.tgz
*.png
*.dat
*.pvd
*.pdf
*.*vtr
*.hmf
*.hmc
*.d
/.project
HydroC/HydroCplusMPI/hydroc
.gitignore
HydroC/HydroSyclMPI/.vscode/c_cpp_properties.json
HydroC/HydroSyclMPI/.vscode/tasks.json
HydroC/HydroCplusMPI/.vscode/c_cpp_properties.json
HydroC/HydroSyclMPI/.vscode/settings.json
